@import "variables";

.protection {
	text-align: center;
	padding: 2em 0;

	h4 {
		color: $primary;
		padding: 0 4em;
		line-height: 1.5em;
	}
	&__images {
		@include desktop {
			display: flex;
			justify-content: space-around;
		}

		&__row {
			display: flex;
			justify-content: space-around;
			padding: 2em;
			@include desktop {
				flex-direction: column;
				width: 100%;
				align-items: center;
			}

			&__element {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 40%;
				text-align: center;
				line-height: 1.8em;
				font-weight: 600;
				font-size: 0.8em;
				margin: 1em 0;

				img {
					margin-bottom: 1.5em;
					width: 30%;
					@include desktop {
						width: 50%;
					}
				}
			}
		}
	}
	&__element {
		@extend .protection__images__row__element;
		width: 80%;
		margin: 0 auto;
		img {
			width: 15%;
			@include desktop{
				width: 9%;
			}
		}
	}
}

.informations {
	text-align: center;
	background-color: $secondary2;
	color: $primary;
	padding: 1em;
	@include desktop{
		display: flex;
		justify-content: space-around;
	}
	p {
		font-weight: 600;
		font-size: 0.7em;
		padding: 1em;
		width: 60%;
		margin: 0 auto;
		line-height: 2em;
		@include desktop{
		font-size: 0.8em;
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@include desktop{
			flex-direction: row;
			justify-content: space-between;
			width: 50%;
		}

		a {
			text-decoration: none;
			color: $neutral4;
			font-weight: 600;
			font-size: 0.8em;
			border-radius: 0.5em;
			background-color: $primary;
			padding: 1em;
			width: 40%;
			max-width: 500px;
			margin: 0.8em;
		
	}
}
}
.mini-transmission {
	h3 {
		font-size: 1.5em;
		padding: 1em 3em;
	}
	text-align: center;
	color: $primary;
	font-size: 0.8em;
	font-weight: 600;

	&__images__row {
		display: flex;
		justify-content: space-around;
		&__element {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1em;
			line-height: 1.8em;
			img {
				width: 60px;
				height: 60px;
				margin-bottom: 1em;
			}
		}
	}
}
