@import "variables";
.header {
	&__nav {
		background: url(../../../Design/Assets/png/Merged-bar-1.png);
		display: flex;
		justify-content: space-evenly;
		&__links {
			list-style-type: none;
			a {
				text-decoration: none;
			}
			&__advice {
				color: $primary;
            }
            &__home{
                
            }
		}
	}
}
