@import "variables";

.test {
	@include desktop {
		display: flex;
		justify-content: space-around;
	}
	text-align: center;
	&__doctors {
		@include desktop {
			width: 40%;
		}
	}
	&__article {
		@include desktop {
			width: 42%;
		}
	}
	h3 {
		font-weight: 700;
		color: $primary;
		padding: 1em 2em;
		line-height: 1.5em;
	}
	p {
		padding: 1em 2em;
		color: $neutral2;
		font-size: 0.9em;
		line-height: 1.5em;
	}
	a {
		@include btn;
		padding: 0.5em 4em;
	}
}

.symptomes {
	text-align: center;
	h3 {
		color: $primary;
		padding: 1em 6em;
	}
	&__images {
		img {
			width: 50px;
			height: 70px;
		}

		.fievre {
			width: 35px;
			height: 90px;
		}

		&__row {
			display: flex;
			justify-content: space-around;
			margin: 1.5em 0;
			@include desktop {
				justify-content: center;
				padding: 1em 8em;
			}
			div {
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 40%;
				span {
					padding: 1.5em 2em;
					font-weight: 600;
				}
			}
		}
	}
}

.recommendations {
	text-align: center;
	background-color: $primary;
	h3 {
		color: $secondary2;
		padding: 1em;
	}

	&__article {
		padding: 1.5em;
		@include desktop {
			display: flex;
			justify-content: space-between;
		}
		&__text {
			@include desktop {
				width: 40%;
				margin-left: 4em;
			}
		}
		&__contact {
			@include desktop {
				width: 40%;
			}
		}
		p {
			color: $neutral4;
			font-weight: 600;
			font-size: 0.8em;
			line-height: 1.5em;
			@include desktop {
				text-align: left;
				font-size: 0.9em;
				line-height: 2em;
			}
		}
		h6 {
			color: $secondary;
		}
		h4 {
			color: $primary;
			background-color: $secondary;
			width: 30%;
			padding: 0.8em;
			border-radius: 0.2em;
			margin: 1em auto;
		}
		a {
			text-decoration: none;
			color: $neutral4;
			border-bottom: 1px solid $secondary;
		}
	}
	&__CTA {
		background-color: $secondary2;
		padding: 2em 1em;
		font-size: 0.8em;
		color: $primary;
		img {
			width: 10%;
			margin-bottom: 1em;
			@include desktop {
				width: 5%;
			}
		}
		a {
			@include btn;
			width: 50%;
			max-width: 700px;
			margin: 2em 0;
			padding: 0.5em 3em;
		}
	}
}
